.projects {
    width: 100%;
    background-color: #000;
    display: grid;
    --gap: 16px;
    --num-cols: 4;
    --row-height: 300px;
    padding: var(--gap);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: var(--row-height);
    gap: var(--gap);

    .image-grid-col-2 {
        grid-column: span 1;
    }

    .image-grid-row-2 {
        grid-row: span 2;
    }

    .project-image {
        position: relative;
        overflow: hidden;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            transition: 0.8s;
            cursor: pointer;
        }

        .hover-info {
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            transition: 0.8s;
            color: #fff;
            display: none;
            justify-content: center;
            align-items: center;
            font-weight: 400;
            font-size: 20px;
            background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
            cursor: pointer;
        }
    }

    .project-image:hover .hover-info {
        display: flex;
    }

    .project-image:hover {
        img {
            transform: scale(1.1);
        }
    }
}

@media (max-width: 700px) {
    .projects {
        width: 80%;
        height: auto;
        margin: auto;
        background-color: #000;
        display: flex;
        flex-wrap: wrap;


    }
}