.whatsapp{
    width: 60px;
    height: 60px;
    position: fixed;
    right: 20px;
    bottom: 30px;
    border-radius: 50%;
    background-color: rgb(11, 163, 79);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 99;

    a i{
        font-size: 35px;
        color: $white;
    }

}