{{>partials/header}}
<main>
  <section id="about">
    <div class="row contentEnd">
       <div class="col container pag-item background-black">
         <div class="marca-dagua">
           <h1>Sobre mim</h1>
         </div>
         <div class="pag-title">
            <h3>Um pouco sobre mim</h3>
            <div class="line"></div>
         </div>
         <div class="row user">
            <div class="info-user width-80 row">
               <div class="user-description col">
                 <h3>Eu sou Thiago Vasconcelos,  
                  um desenvolvedor de software web e mobile
                 </h3>
                 <p>Desenvolvo sistemas há mais de 5 anos, criando soluções. 
                  Concepção, instalação, teste e manutenção de sistemas de software.
                  Proficiente em diversas plataformas, linguagens e sistemas integrados, 
                  com experiência em ferramentas de desenvolvimento e procedimentos de ponta.
                  Capaz de gerenciar projetos de forma autônoma e de colaborar efetivamente 
                  em equipe para entregar soluções inovadoras.
                  Possuo paixão por transformar ideias em código e com atualização constante</p>
               </div>
               <div class="user-description col">
                  <h5>Nome: Thiago Vasconcelos<h5>
                  <h5>Email: thisgodesenvolvedor390@gmail.com<h5>
                  <h5>Idade: 41 anos<h5>

                  <div class="button-link button-red">
                    <a href="">Enviar via whatsApp</a>
                  </div>
               </div>
            </div>
         </div>
       <div>
    </div>
  </section>
  <section id="skills">
    <div class="row contentEnd">
       <div class="col container pag-item background-gray">
         <div class="marca-dagua">
           <h1>Habilidades</h1>
         </div>
          <div class="pag-title">
            <h3>O que aprendi?</h3>
            <div class="line"></div>
         </div>
         <div class="row cards">
           <div class="col card">
              <div class="skill">
                 <div class="skill-icon">
                   <i class="fa-solid fa-desktop"></i>
                 </div>
                 <div class="skill-description">
                 <h1>Apcativos Mobile</h1>
                   <p>Criação de aplicativos para Android e IOS</p>
                 </div>
              </div>
              <div class="skill">
                 <div class="skill-icon">
                   <i class="fa-solid fa-desktop"></i>
                 </div>
                 <div class="skill-description">
                 <h1>Site web</h1>
                   <p>Desenvolvo site web responsivo modernos</p>
                 </div>
              </div>
           </div>
           <div class="col card">
              <div class="col card">
              <div class="skill">
                 <div class="skill-icon">
                   <i class="fa-solid fa-database"></i>
                 </div>
                 <div class="skill-description">
                 <h1>Banco de dados</h1>
                   <p>Criação de banco de dados relacional e não relacional</p>
                 </div>
              </div>
              <div class="skill">
                 <div class="skill-icon">
                   <i class="fa-solid fa-pen-ruler"></i>
                 </div>
                 <div class="skill-description">
                 <h1>UI/UX Design</h1>
                   <p>Criação de Design para melhor experiência do usuários</p>
                 </div>
              </div>
           </div>
         </div>
       <div>
       <div class="row languages">
            <div class="col">
            </div>
            <div class="col">
            </div>
         </div>
    </div>
  </section>
  <section id="project">
    <div class="row contentEnd">
       <div class="col container pag-item background-black">
         <div class="marca-dagua">
           <h1>Meu trabalhos</h1>
         </div>
         <div class="pag-title">
            <h3>Alguns trabalhos meus</h3>
            <div class="line"></div>
         </div>
         <div class="works">
             <div class="row buttons">
                 <div class="button button-active" data-category="todos">Todos</div>
                 <div class="button" data-category="site">Web</div>
                 <div class="button" data-category="app">Aplicativos</div>
             </div>
            <div class="projects"></div>
         </div>
       <div>
    </div>
  </section>
  <section id="contact">
    <div class="row contentEnd">
       <div class="col container pag-item background-gray">
         <div class="marca-dagua">
           <h1>Contato</h1>
         </div>
         <div class="pag-title">
            <h3>Entre em contato</h3>
            <div class="line"></div>
         </div>
         <div class="row contact">
          <div class="col contact-item">
           <address>
             <div class="contact-group"> 
               <i class="fa-solid fa-phone"></i>
               <h3>(14) 98136-2701</h3>
             </div>
              <div class="contact-group"> 
                <i class="fa-solid fa-envelope"></i>
                <h3>thiagodesenvolvedor390@gmailcom</h3>
             </div>
            <div class="social-group">
              <h1> Siga nas redes sociais</h1>
              <div class="social">
                <div class="social-link">
                <a href="#">
                   <i class="fa-brands fa-facebook"></i>
                </a>
                </div>
                <div class="social-link">
                <a target="_blank" href="https://x.com/ThiagoPrograma">
                   <i class="fa-brands fa-twitter"></i>
                </a>
                </div>
                <div class="social-link">
                <a target="_blank" href="https://github.com/thiagovasconcelosmiranda">
                   <i class="fa-brands fa-github"></i>
                </a>
                </div>
                <div class="social-link">
                <a href="#">
                   <i class="fa-brands fa-telegram"></i>
                </a>
                </div>
              </div>
             </div>
           </address>
          </div>
           <div class="col contact-item">
               <h1>Entre em contato comigo</h1>
               <div class="button-link button-red">
                    <a href="#">Enviar via whatsApp</a>
                </div>
          </div>
         </div>
       <div>
    </div>
  </section>
  <main>
{{>partials/modal-project}}
{{>partials/footer}}