{{>partials/header}}

<main>
 <section id="home">
      <div class="row contentEnd">
       <div class="col banner container">
        <div class="banner-image"></div>
         <div class="banner-info">
              <p>Bem-vindo(a)</p>
              <h1>Desenvolvedor de software web e mobile</h1>
              <div class="button-link button-red">
                <a target="__blank" href="https://wa.me/14981362701?text=Quero%20entrar%20em%20contato%20para%20conversar">Entrar em contato</a>
              </div>
              <div class="down link">
                <li>
                   <a  href="#about">
                     <i class="fa-solid fa-chevron-down"></i>
                   </a>
                </li>
              </div>
           </div>
         </div>
       </div>
     </div>
  </section>
  <section id="about">
    <div class="row contentEnd">
       <div class="col container pag-item background-black">
         <div class="marca-dagua">
           <div class="transparent"></div>
           <h1>Sobre mim</h1>
         </div>
         <div class="pag-title">
            <h3>Um pouco sobre mim</h3>
            <div class="line"></div>
         </div>
         <div class="row user">
            <div class="info-user width-80 row">
               <div class="user-description col">
                 <h3>Eu sou Thiago Vasconcelos,  
                   desenvolvedor de software web e mobile.
                 </h3>
                 <p>
                   Sou desenvolvedor de software apaixonado por tecnologia e pela criação de soluções que facilitam o dia a dia das pessoas.</p>
                  <p> Gosto de aprender continuamente, enfrentar novos desafios e transformar ideias em produtos funcionais e intuitivos.
                  <p> Busco sempre escrever código limpo, organizado e de fácil manutenção, seguindo boas práticas de desenvolvimento.
                   Atualmente estou focado em aprimorar minhas habilidades no desenvolvimento mobile com React Native e na construção de aplicações
                   escaláveis, buscando oportunidades para crescer profissionalmente e contribuir com projetos inovadores.
                 </p>
               </div>
               <div class="user-description col">
                  <h5><strong>Nome:</strong> Thiago Vasconcelos<h5>
                  <h5><strong>Email:</strong> profissao33@gmail.com<h5>

                  <div class="button-link button-red">
                    <a target="__blank" href="https://wa.me/14981362701?text=Quero%20entrar%20em%20contato%20para%20conversar">Enviar via whatsApp</a>
                  </div>
               </div>
            </div>
         </div>
         <div class="user-info-cards">
           <div class="card-item">
              <h3 class="number"><span data-qtd="5" class="count">0</span>+<h3>
              <h3>Anos de experiência</h3>
           </div>
           <div class="card-item">
             <h3 class="number"><span data-qtd="10" class="count">0</span>+<h3>
             <h3>Clientes satisfeitos</h3>
               
           </div>
           <div class="card-item">
              <h3 class="number"><span data-qtd="40" class="count">0</span>+<h3>
              <h3>Projetos realizados</h3>
           </div>
         </div>
       <div>
    </div>
  </section>
  <section id="skills">
    <div class="row contentEnd">
       <div class="col container pag-item background-gray">
         <div class="marca-dagua">
           <div class="transparent"></div>
           <h1>Aprendizado</h1>
         </div>
          <div class="pag-title">
            <h3>O que aprendi?</h3>
            <div class="line"></div>
         </div>
         <div class="row cards">
           <div class="col card">
              <div class="skill">
                 <div class="skill-icon">
                   <i class="fa-solid fa-desktop"></i>
                 </div>
                 <div class="skill-description">
                 <h1>Aplicativos Mobile</h1>
                   <p>Criação de aplicativos para Android e IOS</p>
                 </div>
              </div>
              <div class="skill">
                 <div class="skill-icon">
                   <i class="fa-solid fa-desktop"></i>
                 </div>
                 <div class="skill-description">
                 <h1>Site web</h1>
                   <p>Desenvolvimento de sites Web responsivos modernos.</p>
                 </div>
              </div>
           </div>
           <div class="col card">
              <div class="col card">
              <div class="skill">
                 <div class="skill-icon">
                   <i class="fa-solid fa-database"></i>
                 </div>
                 <div class="skill-description">
                 <h1>Banco de dados</h1>
                   <p>Criação de banco de dados relacional e não relacional</p>
                 </div>
              </div>
              <div class="skill">
                 <div class="skill-icon">
                   <i class="fa-solid fa-pen-ruler"></i>
                 </div>
                 <div class="skill-description">
                 <h1>UI/UX Design</h1>
                   <p>Criação de Design para melhor experiência do usuários</p>
                 </div>
              </div>
           </div>
         </div>
       <div>
       <div class="row languages">
            <div class="col">
            </div>
            <div class="col">
            </div>
         </div>
    </div>
  </section>
  <section id="knowledge">
     <div class="row contentEnd">
        <div class="col container pag-item background-black">
           <div class="marca-dagua">
           <div class="transparent"></div>
           <h1>Habilidades</h1>
         </div>
         <div class="pag-title">
            <h3>Meus conhecimentos</h3>
            <div class="line"></div>
         </div>
         <div class="row knowledge-group justify-center">
            <div class="col knowledge-item">
                <div class="card">
               <i class="fa-brands fa-html5"></i>
               <p>HTML5</p>
            </div>

            <div class="card">
               <i class="fa-brands fa-css3-alt"></i>
               <p>CSS3</p>
            </div>

             <div class="card">
               <i class="fa-brands fa-sass"></i>
               <p>SASS</p>
            </div>
            <div class="card">
                  <i class="fa-brands fa-bootstrap"></i>
                  <p>BOOTSTRAP</p>
            </div>
            <div class="card">
               <i class="fa-brands fa-php"></i>
               <p>PHP</p>
            </div>
            <div class="card">
               <i class="fa-brands fa-laravel"></i>
               <p>Laravel</p>
            </div>
            <div class="card">
               <i class="fa-solid fa-database"></i>
               <p>MySQL</p>
            </div>
             <div class="card">
               <i class="fa-solid fa-database"></i>
               <p>POSTGRES</p>
            </div>
            <div class="card">
               <i class="fa-brands fa-git"></i>
               <p>GIT</p>
            </div>
            <div class="card">
               <i class="fa-brands fa-react"></i>
               <p>React</p>
            </div>
            <div class="card">
               <i class="fa-solid fa-tape"></i>
                  <p>API-REST</p>
            </div>
            <div class="card">
               <i class="fa-brands fa-node"></i>
               <p>NODEJS</p>
            </div>
            <div class="card">
               <i class="fa-brands fa-docker"></i>
               <p>DOCKER</p>
            </div>
         </div>
        </div>
        <div class="pag-group">
           <div class="course-title">
             <h3>Escolaridade</h3>
           </div>
           <div class="row school">
             <div class="col school-item">

              <div class="school-card">
                 <div class="icon">
                     <i class="fa-solid fa-graduation-cap"></i>
                 </div>
                 <div class="school-description">
                    <p><strong>Escola:</strong> Unimar - universidade de Marília</p>
                    <p><strong>Curso:</strong> Analise e Desenvolvimento de Sistemas</p>
                    <p><strong>Nivel:</strong> Ensino superior</p>
                    <p><strong>Data:</strong> 01/02/2018 - 01/12/2021</p>
                 </div>
               </div>
               <div class="school-card">
                  <div class="icon">
                     <i class="fa-solid fa-graduation-cap"></i>
                 </div>
                 <div class="school-description">
                    <p><strong>Escola:</strong> Univem - Centro Universitário Eurípedis da Rocha</p>
                    <p><strong>Curso:</strong>Especialização em development Fullstack Web e Mobile Cloud</p>
                    <p><strong>Nivel:</strong> Pós-gradução</p>
                    <p><strong>Data:</strong> 19/03/2022 - 19/03/2023</p>
                 </div>
               </div>
             </div>
           </div>
           <div>
        </div>
     </div>
  </section>
  <section id="supplementary_course">
       <div class="row contentEnd">
       <div class="col container pag-item background-gray">
          <div class="marca-dagua">
           <div class="transparent"></div>
           <h1>Complementos</h1>
         </div>
         <div class="pag-title">
            <h3>Cursos aperfeiçoamentos</h3>
            <div class="line"></div>
         </div>
         <div class="pag-group">
             <div class="courses">
               <div class="course">
                  <a target="__blank" href="https://b7web.com.br/">
                   <div class="image">
                      <img src="/assets/images/courses/b7web.jpg"/>
                   </div>
                 </a>
                 <div class="course-description">
                    <h3><strong>Escola: </strong> B7WEB</h3>
                    <p><strong>Curso: </strong> HTML5 e CSS3 - avançado</p>
                    <p><strong>Data: </strong>10/09/2023 - 15/12/2023</p>
                    <p><strong>Situação: </strong> Concluído</p>
                 </div>
               </div>
               <div class="course">
                 <a target="__blank" href="https://b7web.com.br/">
                   <div class="image">
                      <img src="/assets/images/courses/b7web.jpg"/>
                   </div>
                 </a>
                 <div class="course-description">
                    <h3><strong>Escola: </strong> B7WEB</h3>
                    <p><strong>Curso: </strong> Javascript - básico ao avançado</p>
                    <p><strong>Data: </strong> 24/12/2023 - 21/02/2024 </p>
                    <p><strong>Situação: </strong> Concluído</p>
                 </div>
               </div>
               <div class="course">
                 <a target="__blank" href="https://b7web.com.br/">
                   <div class="image">
                      <img src="/assets/images/courses/b7web.jpg"/>
                   </div>
                 </a>
                 <div class="course-description">
                    <h3><strong>Escola:</strong> B7WEB</h3>
                    <p><strong>Curso: </strong> TypeScript - básico ao avançado</p>
                    <p><strong>Data: </strong> 15/06/2023 - 05/08/2023</p>
                    <p><strong>Situação: </strong> Concluído</p>
                 </div>
              </div>
              <div class="course">
                 <a target="__blank" href="https://b7web.com.br/">
                   <div class="image">
                      <img src="/assets/images/courses/b7web.jpg"/>
                   </div>
                 </a>
                 <div class="course-description">
                    <h3><strong>Escola:</strong> B7WEB</h3>
                    <p><strong>Curso: </strong> NodeJs - básico ao avançado</p>
                    <p><strong>Data: </strong> 25/06/2023 - 05/08/2023</p>
                    <p><strong>Situação: </strong> Concluído</p>
                 </div>
              </div>
              <div class="course">
                <a target="__blank" href="https://b7web.com.br/">
                   <div class="image">
                      <img src="/assets/images/courses/b7web.jpg"/>
                   </div>
                 </a>
                 <div class="course-description">
                    <h3><strong>Escola:</strong> B7WEB</h3>
                    <p><strong>Curso: </strong> PHP - avançado</p>
                    <p><strong>Data: </strong> 24/09/2026 - 11/11/2023</p>
                    <p><strong>Situação: </strong> Concluído</p>
                 </div>
              </div>
              <div class="course">
                 <a target="__blank" href="https://b7web.com.br/">
                   <div class="image">
                      <img src="/assets/images/courses/b7web.jpg"/>
                   </div>
                 </a>
                 <div class="course-description">
                    <h3><strong>Escola:</strong> B7WEB</h3>
                    <p><strong>Curso: </strong> Banco de dados - avançado</p>
                    <p><strong>Data: </strong> 01/07/2023 - 05/08/2023</p>
                    <p><strong>Situação: </strong> Concluído</p>
                 </div>
              </div>
              <div class="course">
                 <a target="__blank" href="https://www.santanderopenacademy.com/">
                   <div class="image">
                      <img src="/assets/images/courses/santander.png"/>
                   </div>
                 </a>
                 <div class="course-description">
                    <h3><strong>Escola:</strong> Santander Open Academy</h3>
                    <p><strong>Curso: </strong> Python</p>
                    <p><strong>Data: </strong> 24/02/2026</p>
                    <p><strong>Situação: </strong> em andamento</p>
                 </div>
              </div>
             </div>
         </div>
       </div>
    </div>
  </section>
  <section id="project">
    <div class="row contentEnd">
       <div class="col container pag-item background-black">
          <div class="marca-dagua">
           <div class="transparent"></div>
           <h1>Meu trabalhos</h1>
         </div>
         <div class="pag-title">
            <h3>Alguns trabalhos meus</h3>
            <div class="line"></div>
         </div>
         <div class="works">
             <div class="buttons">
                 <div class="button button-active" data-category="todos">Todos</div>
                 <div class="button" data-category="site">Web</div>
             </div>
             <div class="projects"></div>
          </div>
       </div>
    </div>
  </section>
  <section id="contact">
    <div class="row contentEnd">
       <div class="col container pag-item background-gray contact">
         <div class="marca-dagua">
           <div class="transparent"></div>
           <h1>Contato</h1>
         </div>
         <div class="pag-title">
            <h3>Entre em contato</h3>
            <div class="line"></div>
         </div>
         <div class="row contact">
          <div class="col contact-item">
           <address>
             <div class="contact-group"> 
               <i class="fa-solid fa-phone"></i>
               <h3>+55 (14) 98136-2701</h3>
             </div>
              <div class="contact-group"> 
                <i class="fa-solid fa-envelope"></i>
                <h3>thiagodesenvolvedor390@gmailcom</h3>
             </div>
            <div class="social-group">
              <h1> Siga nas redes sociais</h1>
              <div class="social">
                <div class="social-link">
                <a target="_blank" href="https://x.com/ThiagoPrograma">
                   <i class="fa-brands fa-twitter"></i>
                </a>
                </div>
                <div class="social-link">
                <a target="_blank" href="https://github.com/thiagovasconcelosmiranda">
                   <i class="fa-brands fa-github"></i>
                </a>
                </div>
                <div class="social-link">
                  <a target="_blank" href="https://www.instagram.com/thiagodesenvolvedor/">
                    <i class="fa-brands fa-instagram"></i>
                  </a>
               </div>
               <div class="social-link">
                 <a target="_blank" href="https://www.linkedin.com/in/thiago-desenvolvedor-fullstack/"><i class="fa-brands fa-linkedin-in"></i></a>
               </div>
             </div>
           </address>
          </div>
           <div class="col contact-item">
               <h1>Entre em contato comigo</h1>
               <div class="button-link button-red">
                  <a target="_blank" href="https://wa.me/14981362701?text=Quero%20entrar%20em%20contato%20para%20conversar">Enviar via whatsApp</a>
                </div>
          </div>
         </div>
       <div>
    </div>
  </section>
  <main> 
{{>partials/reload}}
{{>partials/footer}}