{{>partials/header}}

<div class="modal" style="display: flex;">
       <div class="video-body">
          <video controls width="250">
            <source src="/assets/videos/{{video}}" type="video/webm" />
          </video>
       </div>
</div>

{{>partials/footer}}
