   
   <div class="row contentEnd">
     <div class="col container" style="background: red;">
       <footer>
           <p>Copyright © 2024 todos os diretos reservados</p>
       <footer>
     </div>
   </div>

   <script src="/assets/js/array-projects-script.js"></script>
   <script src="/assets/js/sliders-script.js"></script>
   <script src="/assets/js/class-scroll.js"></script>
   <script src="/assets/js/link-scroll-script.js"></script>
   <script src="/assets/js/class-modal.js"></script>
   <script src="/assets/js/script.js"></script>
   <script src="/assets/js/sliders-script.js"></script>
   {{>partials/modal-project}}
</body>
</html>