<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <meta http-equiv="X-UA-Compatible" content="ie=edge">
   <link rel="stylesheet" href="/assets/css/style.css"/>
   <link rel="icon" href="/assets/images/user.jpg"/>
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
   integrity="sha512-Fo3rlrZj/k7ujTnHg4CGR2D7kSs0v4LLanw2qksYuRlEzO+tcaEPQogQ0KaoGN26/zrn20ImR1DfuLWnOo7aBA=="
   crossorigin="anonymous" referrerpolicy="no-referrer" />
      <script rel="stylesheet" src="https://code.jquery.com/jquery-3.7.1.min.js"></script>

  <title>Thiago Vasconcelos - Desenvolvedor </title>
</head>
<body>
{{#viewHeader}}
<header>
   <div class="row contentEnd">
     <div class="col nav-item">
         <div class="image-user">
            <img src="/assets/images/user.jpg">
         </div>
         <div class="user-info">
            <h3>Thiago Vasconcelos</h3>
         </div>
       <nav>
         <ul>
            <!--ul a-->
              <li class="link"><a class='home' href="#home">Início</a></li>
              <li class="link"><a class='about' href="#about">Sobre mim</a></li>
              <li class="link"><a class='skills' href="#skills">O que aprendi?</a></li>
              <li class="link"><a class='knowledge' href="#knowledge">Habilidades</a></li>
              <li class="link"><a class='supplementary_course' href="#supplementary_course">Complementos</a></li>
              <li class="link"><a class='project' href="#project">Meus projetos</a></li>
              <li class="link"><a class='contact' href="#contact">Contato</a></li>

            <div class="button-link button-red">
               <a target="__blank" href="https://wa.me/14981362701?text=Quero%20entrar%20em%20contato%20para%20conversar">Enviar via whatsApp</a>
            </div>
         </ul>
          <div class="social-links">
             <div class="link">
               <a target="_blank" href="https://x.com/ThiagoPrograma">
                 <i class="fa-brands fa-twitter"></i>
               </a>
             </div>
             <div class="link">
                <a target="_blank" href="https://www.youtube.com/@thiagouniver8816"><i class="fa-brands fa-youtube"></i></a>
             </div>
             
             <div class="link">
               <a target="_blank" href="https://www.instagram.com/thiagodesenvolvedor/"><i class="fa-brands fa-instagram"></i></a>
             </div>
              <div class="link">
               <a target="_blank" href="https://www.linkedin.com/in/thiago-desenvolvedor-fullstack/"><i class="fa-brands fa-linkedin-in"></i></a>
             </div>
          </div>
       </nav>
       <input type="checkbox" id="check-option"/>
       <label class="option" for="check-option">
         <span></span>
         <span></span>
         <span></span>
       </label>
     </div>
</header>
{{/viewHeader}}
  
