<div class="modal">
   <div class="info-projects">
     <div class="close-modal">
       <i class="fa-solid fa-xmark"></i>
     </div>
     <div class="row slider-item">
        <div class="col slider">
          <div class="slider-over">
              <div class="row sliders">

                 <div class="project-group">
                     <div class="col image">
                       <img src="/assets/images/objects/image1.jpg"/>
                    </div>
                     <div class="col description">
                      ...
                    </div>
                 </div>

                 <div class="project-group">
                     <div class="col image">
                       ...
                    </div>
                     <div class="col description">
                      ...
                    </div>
                 </div>


                 <div class="project-group">
                     <div class="col image">
                       ...
                    </div>
                     <div class="col description">
                      ...
                    </div>
                 </div>

              </div>
          </div>
        </div>
     </div>
   </div>
</div>