<div class="modal">
   <div class="info-projects">
     <div class="close-modal">
       <i class="fa-solid fa-xmark"></i>
     </div>
     <div class="row slider-item">
        <div class="slider-left"> 
          <i class="fa-solid fa-circle-chevron-left"></i>
        </div>
        <div class="slider-right"> 
          <i class="fa-solid fa-circle-chevron-right"></i>
        </div>
        <div class="col slider">
          <div class="slider-over">
              <div class="row sliders">

                 <div class="row project-group">
                     <div class="col image">
                       <img src="/assets/images/objects/image1.jpg"/>
                    </div>
                     <div class="col project-info">
                       <div class="project-title">
                          <h1>Projeto web Site<h1>
                       </div>
                       <div class="project-description">
                           <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                       </div>
                    </div>
                 </div>

                 <div class="row project-group">
                    <div class="col image">
                       <img src="/assets/images/objects/image1.jpg"/>
                    </div>
                     <div class="col project-info">
                       <div class="project-title">
                          <h1>Projeto web Site<h1>
                       </div>
                       <div class="project-description">
                           <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                       </div>
                    </div>
                 </div>

                 <div class="row project-group">
                    <div class="col image">
                       <img src="/assets/images/objects/image1.jpg"/>
                    </div>
                     <div class="col project-info">
                       <div class="project-title">
                          <h1>Projeto web Site<h1>
                       </div>
                       <div class="project-description">
                           <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                       </div>
                    </div>
                 </div>

              </div>
          </div>
        </div>
     </div>
   </div>
</div>