<div class="modal">
   <div class="project-body">
       <div class="close-modal">
         <i class="fa-solid fa-xmark"></i>
       </div>
        <div class="button-left">
            <i class="fa-solid fa-angle-left"></i>
        </div>
        
       <div class="display-slider">
          <div class="sliders">

               <div class="slider-group row">
                <div class="image">
                   <img src="/assets/images/projects/otica.png">
                 </div>
                  <div class="info-project">
                    <div class="project-title">
                       <h1>Loja virtual Ótica Center</h1>
                    </div>

                    <div class="project-description">
                        <div class="protect-icons">
                            <div class="icon">
                              <i class="fa-brands fa-html5"></i>
                            </div>
                            <div class="icon">
                              <i class="fa-brands fa-css3-alt"></i>
                            </div>
                            <div class="icon">
                              <i class="fa-brands fa-php"></i>
                            </div>
                            <div class="icon">
                              <i class="fa-solid fa-database"></i>
                            </div>
                            <div class="icon">
                              <i class="fa-brands fa-git"></i>
                            </div>
                       </div>
                        <p>Lorem Ipsum é simplesmente uma simulação de texto da indústria tipográfica e de impressos, e vem sendo utilizado desde o século XVI, quando um impressor
                         desconhecido pegou uma bandeja de tipos e os embaralhou 
                         para fazer um livro de modelos de tipos. Lorem Ipsum sobreviveu
                         não só a cinco séculos, como também ao salto para a editoração eletrônica,
                         permanecendo essencialmente inalterado.</p>

                        <div class="button-link button-red">
                           <a href="#">Acessar projeto</a>
                           <a href="#">Projeto no github</a>
                        </div>

                    </div>
                  </div>
              </div>
               <div class="slider-group row">
                <div class="image">
                   <img src="/assets/images/projects/owflow.png">
                 </div>
                  <div class="info-project">
                    <div class="project-title">
                       <h1>Loja virtual Ótica Center</h1>
                    </div>

                    <div class="project-description">
                        <div class="protect-icons">
                            <div class="icon">
                              <i class="fa-brands fa-html5"></i>
                            </div>
                            <div class="icon">
                              <i class="fa-brands fa-css3-alt"></i>
                            </div>
                            <div class="icon">
                              <i class="fa-brands fa-php"></i>
                            </div>
                            <div class="icon">
                              <i class="fa-solid fa-database"></i>
                            </div>
                            <div class="icon">
                              <i class="fa-brands fa-git"></i>
                            </div>
                       </div>
                        <p>Lorem Ipsum é simplesmente uma simulação de texto da indústria tipográfica e de impressos, e vem sendo utilizado desde o século XVI, quando um impressor
                         desconhecido pegou uma bandeja de tipos e os embaralhou 
                         para fazer um livro de modelos de tipos. Lorem Ipsum sobreviveu
                          não só a cinco séculos, como também ao salto para a editoração eletrônica,
                           permanecendo essencialmente inalterado. .</p>
                        <div class="button-link button-red">
                           <a href="#">Acessar projeto</a>
                           <a href="#">Projeto no github</a>
                        </div>
                    </div>
                  </div>
              </div>
                <div class="slider-group row">
                <div class="image">
                   <img src="/assets/images/projects/cosmeticos.png">
                 </div>
                  <div class="info-project">
                    <div class="project-title">
                       <h1>Loja virtual Ótica Center</h1>
                    </div>

                    <div class="project-description">
                        <div class="protect-icons">
                            <div class="icon">
                              <i class="fa-brands fa-html5"></i>
                            </div>
                            <div class="icon">
                              <i class="fa-brands fa-css3-alt"></i>
                            </div>
                            <div class="icon">
                              <i class="fa-brands fa-php"></i>
                            </div>
                            <div class="icon">
                              <i class="fa-solid fa-database"></i>
                            </div>
                            <div class="icon">
                              <i class="fa-brands fa-git"></i>
                            </div>
                       </div>
                        <p>Lorem Ipsum é simplesmente uma simulação de texto da indústria tipográfica e de impressos, e vem sendo utilizado desde o século XVI, quando um impressor
                         desconhecido pegou uma bandeja de tipos e os embaralhou 
                         para fazer um livro de modelos de tipos. Lorem Ipsum sobreviveu
                         não só a cinco séculos, como também ao salto para a editoração eletrônica,
                         permanecendo essencialmente inalterado. .</p>
                        <div class="button-link button-red">
                           <a href="#">Acessar projeto</a>
                           <a href="#">Projeto no github</a>
                        </div>
                    </div>
                  </div>
              </div>
          </div>
       </div>

       <div class="button-right">
          <i class="fa-solid fa-angle-right"></i>
       </div>
   <div>
</div>