<div class="projects">
  <div class="project-image image-grid-col-2 image-grid-row-2">
     <img src="assets/images/objects/image4.jpg">
     <div class="hover-info">Aplicativo Mobile</div>
   </div>
   <div class="project-image">
     <img src="assets/images/objects/image1.jpg">
     <div class="hover-info">Site Web</div>
   </div>
   <div class="project-image">
     <img src="assets/images/objects/image2.jpg">
     <div class="hover-info">Site Web</div>
   </div>
   <div class="project-image">
     <img src="assets/images/objects/image3.jpg">
     <div class="hover-info">Site Web</div>
   </div>
   <div class="project-image">
     <img  src="assets/images/objects/image5.jpg">
     <div class="hover-info">Site Web</div>
   </div>
   <div class="project-image image-grid-col-2 image-grid-row-2">
     <img  src="assets/images/objects/image6.jpg">
     <div class="hover-info">Aplicativo mobile</div>
   </div>
</div>