<div class="container-load">
  <div class="reload">
     <div class="upper ball"></div>
     <div class="right ball"></div>
     <div class="lower ball"></div>
     <div class="left ball"></div>
    </div>
</div>
